.navbar-mobile{
    background-color: #FF3939;
    position: fixed;
    height: 100vh;
    top: 0;
    width: 50%;
    border-left: 1px solid white;
    right: 0;
    z-index: 10;
    display: flex;
}

.slide_to_left{
    animation: slide_to_left 1s forwards;
}

.slide_to_right{
    animation: slide_to_right 1s forwards;
}

@keyframes slide_to_right{
    0%{
        transform: translateX(0);
    }

    100%{
        transform: translateX(100vh);
    }
}

@keyframes slide_to_left{
    0%{
        transform: translateX(100vh);
    }

    100%{
        transform: translateX(0);
    }
}

.btn-sign-mobile{
    color: #FF3939;
    border-radius: 6px;
    padding: 3%;
    text-align: center;
    width: 10vh;
    background-color: white;
}

.btn-sign-mobile a{
    color: #FF3939!important;
}

.btn-sign-mobile:hover{
    color: white;
    background-color: #FF3939;
    transition: 0.2s;
    cursor: pointer;
}

.btn-sign-mobile:hover .link-btn-sign{
    color: white!important;
    text-decoration: none;
    border: none;
}

.container-nav-mobile{
    width: 80%;
    margin: 0 auto;
}

.container-nav-mobile div{
    margin-top: 5%;
}

.container-nav-mobile div a{
    color: white;
}

.cross-icon{
    color: white;
    font-size: 30px;
    position: absolute;
    right: 2%;
    cursor: pointer;
}