.creator-box{
    background-color: #FF3939;
    color: white;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10%;
}

.wrapper-image-crea img{
    width: 100%;
}

.item-crea{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.item-crea h1{
    font-weight: bolder;
}

@media screen and (max-width: 768px) {
    .wrapper-image-crea img{
        width: 60%;
    }

    .wrapper-image-crea{
        margin-bottom: 5%;
    }
  }