
.box_sign_up{
    background-color: #2F2E41;
    height: 90vh;
    display: flex;
    align-items: center;
}

.form-signup{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    width: 100%;
}

.form-signup input{
    margin-top: 1%;
    width: 100%;
    border: 1px solid #F5F5F5;
    background-color: white;
}

.btn-sign-up{
    width: 100%;
    background-color: white;
    text-align: center;
    color: #FF3939;
    padding: 1.5%;
    margin-top: 1%;
    box-shadow: 3px 3px 6px black;
}

.btn-sign-up:hover{
    background-color: #2F2E41;
    color: white;
    transition: 0.2s;
    text-decoration: none;
    cursor: pointer;
}

.form-signup img{
    width: 20%;
    margin-bottom: 5%;
    background-color: #FF3939;
    padding: 2%;
    border-radius: 50px;
    border: 1px solid white;
}

.container-icon-signup{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-icon-signup h1{
    color: white;
    margin-left: 3%;
}

.text-signup h1{
    font-weight: bolder;
}

.background_svg{
    margin-top: -0.1%;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.wave-signup{
    margin-bottom: -0.5%;
}

.form-control{
    border-radius: 0!important;
    background-clip: border-box!important;
}

@media screen and (max-width: 768px) {
    .container-icon-signup{
        justify-content: end;
    }

    .container-icon-signup h1{
        color: white;
    }
  }