.what-box{
    min-height: 50vh;
    background-color: #F5F5F5;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #FF3939;
}

.item-whatbox{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    z-index: 2;
    text-align: center;
}

.title-what{
    margin-top: -5%;
    font-weight: bolder;
    color: white;
    margin-left: 3%;
}